<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escudo</title>
    <link rel="stylesheet" href="styles/styleEscudo.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>El Juego de los Escudos</h1>
    </header>
    <form class="level-select">
      <p>
        Selecciona Dificultad:<br />
        <label><input type="radio" name="level" value="easy" checked id="level1"/> Facil</label>
        <label><input type="radio" name="level" value="medium" id="level2" /> Medio</label>
        <label><input type="radio" name="level" value="hard" id="level3"/> Dificil</label>
      </p>
    </form>
    <section class="container">
      <div class="card">
        <figure class="card-image-container" id="logo">
          <img
            id="image-logo"
            src="images/logo1.png"
            alt="Escudo "
            height="200px"
          />
        </figure>
        <div class="card-buttons-container" id="buttons">
          <button id="btn_1"></button>
          <button id="btn_2"></button>
          <button id="btn_3"></button>
        </div>
      </div>
    </section>

    <script src="scripts/scriptEscudo.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
