<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adivina Escudos</title>
</head>
<body>
    <h1>Escudos de futbol</h1>

   <ul>
    <% clubes.forEach(club => { %>
        <li>
            <img src="<%= club.imageUrl %>" alt="" width="200px" height="200px">
        </li>
    <% }) %>
   </ul>

    <section>

    </section>
</body>
</html>