<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escudos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/styleLogin.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center m-2">Adivina Escudos</h1>
      <h4 class="text-center">Inicia sesión para jugar</h4>

      <form id="register-form">
        <div class="mb-3">
          <label for="nickName" class="form-label">Nick Name</label>
          <input
            type="text"
            name="nick"
            class="form-control"
            id="nickName"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
          />
        </div>
        <button id="submit-btn" type="submit" class="btn btn-outline-light">
          Enviar
        </button>
      </form>
      <div class="mb-2 mt-2 pt-2 mt-5">
        <a href="/register" class="nav-link border text-center">
          O regístrate aquí</a
        >
      </div>
    </div>
    <script src="scripts/scriptLogin.js"></script>
  </body>
</html>
